

 h1{
 	color:#41b09b;
 	margin:0;
 	font-size: 3em;
 }

 h2{

 }
.current, .image, .tomcurrent, .tomimage{
	display:block;
	float:left;
}
.current, .tomcurrent{
	margin-left: 2%;
	font-size: 1.5em;
}
.temp, .tomtemp{
	font-size: 6em;
	margin:3% auto;
	clear:both;
	color:#41b09b;

}

.high, .low, .tomhigh, .tomlow{
	color:#F7f7f7;
}

.ui.input input{
	width:50%;

}

 body{
 	background: #333; 
 	
 }
h2, h3, li, span, .current{
	color:#f7f7f7;
}


li{
	list-style: none;
	display:block;
}
.tomimage, .image{

	width:25px;
	height:25px;
}
input p{
	color:#000;
}

article{
	width:95%;
	display:block;
	position: relative;
	margin:0 auto;
}
