

/*Float image and description together*/
.current, .image, .tomcurrent, .tomimage{
	display:block;
	float:left;
}
.current, .tomcurrent{
	margin-left: 2%;
	font-size: 1.5em;
}

.temp, .tomtemp{
	font-size: 6em;
	margin:0;
	clear:both;
	color:#41b09b;

}

.high, .low, .tomhigh, .tomlow{
	color:#F7f7f7;
	margin-top:0;
}

.ui.input input{
	width:50%;

}

/*Image styling*/
.tomimage, .image{

	width:25px;
	height:25px;
}

/*General Styling*/
 body{
 	background: #333; 
 	font-family: 'oswald'
 	
 }


 h1{
 	color:#41b09b;
 	margin:3%;
 	font-size: 3em;
 	font-family: ‘Oswald’, sans-serif; font-weight: 700; 
 }

h2, h3, li, span, .current{
	color:#f7f7f7;
	font-family: ‘Oswald’, sans-serif; font-weight: 400;
}

li{
	list-style: none;
	display:block;
}

input p{
	color:#000;
}

article{
	width:95%;
	display:block;
	position: relative;
	margin:0 auto;
}
